header {
    background-color: darkslategray;
   color: skyblue;
   text-align: center;
}

main {
background-color: lightslategrey;
padding:1em;

}
body{
    background-image: url("./record.png");
    background-repeat: repeat;
    margin: 0;

}
